<li>
  <h6>First Name: {{first_name}}</h6>
  <h6>Last Name: {{last_name}}</h6>
  <h6>Email: {{email}}</h6>
  <h6>Phone Number: {{phone_number}}</h6>
  <h6>Twitter: {{twitter}}</h6>
  <h6>LinkedIn: {{linkedin}}</h6>
</li>
